<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <table>
   {% for a in list  %}
    {% if a == list.0 %}
    <tr>
        {% for  y in a.keys  %}
            <td>{{y}}</td>
        {% endfor %}    
    </tr>
    {% endif %}
    <tr>
        {% for z in a.values %}
        <td>{{z}}</td>
        {% endfor %}
    </tr> 
    {% endfor %}
</table>


    </body>
</html>

